In [110]:
import pandas as pd
import numpy as np

In [111]:
#SERIES
from pandas import Series

In [16]:
#creating empty series
S=Series()
print(S)

Series([], dtype: float64)

In [18]:
#creating series
Obj=Series([24,56,78,23])
print(Obj)

0    24
1    56
2    78
3    23
dtype: int64

In [20]:
#Values
Obj.values

array([24, 56, 78, 23], dtype=int64)

In [22]:
#index
Obj.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
#creating series with index
pandas_series = Series([4, 8, 8.1, -4], index = ["a", "c", "b", "d"])
pandas_series

a    4.0
c    8.0
b    8.1
d   -4.0
dtype: float64

In [27]:
#Create a Series from ndarray
array=np.array([0,3,4,6])
series1=Series(array)
print(series1)

0    0
1    3
2    4
3    6
dtype: int32

In [32]:
data = np.array(['a','b','c','d'])
s = Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [4]:
#Create a Series from dict
data1 = {'a' : 0, 'b' : 1., 'c' : 2.}
s1 = Series(data1)
print(s1)

a    0.0
b    1.0
c    2.0
dtype: float64

In [7]:
s2= Series(data1,index=['b','c','d','a'])
print(s2)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [10]:
#Create a Series from Scalar
s3=Series(5, index=[0, 1, 2, 3])
print(s3)

0    5
1    5
2    5
3    5
dtype: int64

In [56]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
#retrieve the first element
print(s['e'])

5

In [57]:
s.e

5

In [4]:
w_salary=Series([70000,40000,50000,80000,90000],index=['Rohit','Ramesh','Anushka','Priya','Pozza'])

In [6]:
w_salary

Rohit      70000
Ramesh     40000
Anushka    50000
Priya      80000
Pozza      90000
dtype: int64

In [8]:
w_salary[:3]

Rohit      70000
Ramesh     40000
Anushka    50000
dtype: int64

In [10]:
w_salary[0:4]

Rohit      70000
Ramesh     40000
Anushka    50000
Priya      80000
dtype: int64

In [18]:
w_salary['Rohit']

70000

In [58]:
w_salary.Priya

80000

In [55]:
w_salary[['Rohit','Priya']]

Rohit    70000
Priya    80000
dtype: int64

In [22]:
#Condition
w_salary[w_salary>70000]

Priya    80000
Pozza    90000
dtype: int64

In [23]:
"Rohit" in w_salary

True

In [27]:
#Convert series into dictionary
w_dict=w_salary.to_dict()
print(w_dict)

{'Rohit': 70000, 'Ramesh': 40000, 'Anushka': 50000, 'Priya': 80000, 'Pozza': 90000}

In [30]:
#convert dictionary agin to series
#now order is according to alphabets
ww_series=Series(w_dict)
print(ww_series)

Anushka    50000
Pozza      90000
Priya      80000
Ramesh     40000
Rohit      70000
dtype: int64

In [32]:
Name=['Rohit','Pozza','Priya','Ramesh','Rakesh','Bindu','Anushka']

In [41]:
obj1=Series(w_dict,index=Name) # i can also use ww_series on the place of w_dict
print(obj1)

Rohit      70000.0
Pozza      90000.0
Priya      80000.0
Ramesh     40000.0
Rakesh         NaN
Bindu          NaN
Anushka    50000.0
dtype: float64

In [37]:
pd.isnull(obj1)

Rohit      False
Pozza      False
Priya      False
Ramesh     False
Rakesh      True
Bindu       True
Anushka    False
dtype: bool

In [39]:
pd.notnull(obj1)

Rohit       True
Pozza       True
Priya       True
Ramesh      True
Rakesh     False
Bindu      False
Anushka     True
dtype: bool

In [42]:
ww_series+obj1  #aranged accrding to alphabets

Anushka    100000.0
Bindu           NaN
Pozza      180000.0
Priya      160000.0
Rakesh          NaN
Ramesh      80000.0
Rohit      140000.0
dtype: float64

In [43]:
obj1.name="Salary of Employees"

In [49]:
obj1.index.name="Name"

In [50]:
obj1

Name
Rohit      70000.0
Pozza      90000.0
Priya      80000.0
Ramesh     40000.0
Rakesh         NaN
Bindu          NaN
Anushka    50000.0
Name: Salary of Employees, dtype: float64

In [54]:
# DATAFRAMES
import webbrowser
website="http://en.wikipedia.org/wiki/NFL_win-loss_records"
webbrowser.open(website)

True

In [72]:
ser1=pd.Series(np.arange(4),index=['a','b','c','d'])

In [77]:
ser2=ser1.drop('b')

In [75]:
ser1=2*ser1

In [76]:
ser1

a    0
b    2
c    4
d    6
dtype: int32

In [79]:
ser1['b']

2

In [80]:
ser1[1]

2

In [81]:
ser1[0:3]

a    0
b    2
c    4
dtype: int32

In [83]:
ser1[['a','b']]

a    0
b    2
dtype: int32

In [84]:
ser1[ser1>3]=10

In [85]:
ser1

a     0
b     2
c    10
d    10
dtype: int32

In [86]:
ser1=Series([0,1,2],index=['A','B','C'])

In [87]:
ser2=Series([2,3,5,6],index=['A','B','C','D'])

In [88]:
ser1+ser2

A    2.0
B    4.0
C    7.0
D    NaN
dtype: float64

In [93]:
series=Series(range(3),index=['c','b','a'])

In [96]:
series.sort_index()

a    2
b    1
c    0
dtype: int64

In [102]:
from numpy.random import randn
ser9=Series(randn(10))

In [103]:
ser9

0    0.286568
1    0.301445
2   -1.246189
3    0.284686
4    1.875561
5   -1.930168
6   -0.130514
7    0.716463
8   -0.451662
9   -0.029318
dtype: float64

In [113]:
ser9.rank()

0     7.0
1     8.0
2     2.0
3     6.0
4    10.0
5     1.0
6     4.0
7     9.0
8     3.0
9     5.0
dtype: float64